#Postgres
DB_CONNECTION       = ${DB_CONNECTION:null}
DB_HOST             = ${DB_HOST:null}
DB_PORT             = ${DB_PORT:null}
DB_DATABASE         = ${DB_DATABASE:null}
DB_USERNAME         = ${DB_USERNAME:null}
DB_PASSWORD         = ${DB_PASSWORD:null}
DB_TIMEZONE         = Asia/Phnom_Penh

#jwt
JWT_SECRET          = ${JWT_SECRET:null}

#MinIO
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=uploads
MINIO_USE_SSL=false